.favorites {
    .subtitle {
        text-align: center;
        font-size: 36px;
        margin-top: 50px;
    }
}
#favorites-container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
    
}

